<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer__title">
                    <span>Get In Touch</span>
                </div>
                <div class="footer__body">
                    <span>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem
                        malesuada
                        magna. </span>
                </div>
                <div class="footer__body">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>Moonshine Street No: 14/05 Light City, Jupiter</span>
                    <br>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>0247 541 65 87</span>
                    <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>support@longwave.com</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer__title">
                    <span>Twitter</span>
                </div>
                <div class="footer__body">
                    <span>Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit
                        aliquet.</span>
                </div>
                <div class="footer__body">
                    <span>Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.</span>
                </div>
                <div class="footer__body">
                    <span>Vestibulum id ligula porta euismod semper. Maecenas faucibus mollis.</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer__title">
                    <span>Popular Posts</span>
                </div>
                <div class="footer__body">
                    <span>Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor.</span>
                    <br>
                    <span class="footer__date">14 Nov, 2012 </span>
                </div>
                <div class="footer__body">
                    <span>Scelerisque nisl consectetur et.</span>
                    <br>
                    <span class="footer__date">22 May, 2012 </span>
                </div>
                <div class="footer__body">
                    <span>Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus
                        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</span>
                    <br>
                    <span class="footer__date">15 July, 2012 </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer__title">
                    <span>About Us</span>
                </div>
                <div class="footer__body">
                    <span>Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi
                        erat porttitor ligula, eget lacinia odio sem nec elit. </span>
                </div>
                <div class="footer__body">
                    <span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur
                        blandit tempus.</span>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="/js/pepper.js"></script>
<!-- <script src="/js/script.js"></script> -->
<script src="/dist/bundle.js"></script>

</body>


</html>